.p-steps .p-steps-item.p-highlight .p-steps-number {
  color: var(--color-principal);
}
.p-steps .p-steps-item.p-highlight .p-steps-title {
  color: var(--color-principal);
}
.p-steps .p-steps-item .p-steps-title {
  white-space: pre-wrap;
}
