<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center">
      <div class="titulo-section">
        <h2>Inmuebles Destacados</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" id="section-destacados">
    <div class="col-12 col-md-6 col-lg-4 my-3" *ngFor="let propiedad of listaDestacados">
      <div class="destado-item">
        <img [src]="urlImg(propiedad.fotos[0].nombreArchivo)" [alt]="propiedad.tipoInmueble" class="destacado-imagen" />
        <div class="destacado-enlace">
          <a class="btn-mas" [routerLink]="'/inmuebles' + isLogging + '/detalle/' + propiedad.id">Ver más</a>
        </div>
        <div class="tipo-propiedad">{{ propiedad.tipoPublicacion }}</div>
      </div>
    </div>
  </div>
</div>
