<section class="propiedades">
  <div class="propiedades__container">
    <div class="propiedades__filtro animate__animated animate__fadeInDown">
      <div class="pro__filtro--titulo">
        <p>Busqueda Avanzada</p>
      </div>
      <div class="pro__filtro--items">
        <div class="filtro-item">
          <label for="tipo" class="filtro--label">Tipo de inmueble:</label>
          <select name="" id="tipo" class="filtro--input" [(ngModel)]="filtroTipo">
            <option value="apartamento" class="filtro__value-select">Apartamento</option>
            <option value="casa" class="filtro__value-select">Casa</option>
            <option value="finca" class="filtro__value-select">Finca</option>
            <option value="local" class="filtro__value-select">Local</option>
            <option value="oficina" class="filtro__value-select">Oficina</option>
          </select>
        </div>
        <div class="filtro-item">
          <label for="baños" class="filtro--label">Presupuesto:</label>
          <input type="number" name="" id="metros" class="filtro--input" [(ngModel)]="filtroPre" />
        </div>
        <div class="filtro-item">
          <label for="metros" class="filtro--label">Estado:</label>
          <select name="" id="baños" class="filtro--input" [(ngModel)]="filtroEstado">
            <option value="nuevo" class="filtro__value-select">Nuevo</option>
            <option value="usado" class="filtro__value-select">Usado</option>
          </select>
        </div>
        <div class="filtro-item">
          <label for="habitaciones" class="filtro--label">Habitaciones:</label>
          <select name="" id="habitaciones" class="filtro--input" [(ngModel)]="filtroHab">
            <option value="1" class="filtro__value-select">1</option>
            <option value="2" class="filtro__value-select">2</option>
            <option value="3" class="filtro__value-select">3</option>
            <option value="4" class="filtro__value-select">4</option>
            <option value="5" class="filtro__value-select">5</option>
          </select>
        </div>
        <div class="filtro-limpiar">
          <button class="limpiar__boton" (click)="limpiarFiltros()">Limpiar</button>
        </div>
      </div>
    </div>

    <div class="container__requisitos animate__animated animate__fadeIn">
      <button class="boton__requisitos" (click)="showDialog()">Ver requisitos</button>
    </div>

    <div class="propiedades__items animate__animated animate__fadeIn" *ngIf="propiedades.length > 0; else sinRegistros">
      <div
        class="pro__item"
        *ngFor="let item of propiedades[0] | filtro : filtroHab | filtro : filtroPre | filtro : filtroEstado | filtro : filtroTipo"
      >
        <div class="pro__item--img">
          <img src="{{ item.img }}" alt="galeria" class="item__img" />
        </div>
        <div class="pro__item--info">
          <p class="pro__info--titulo">Lorem ipsum dolor sit.</p>
          <div class="pro__info--datos">
            <div class="datos__info">
              <img src="./assets/images/icono-galeria1.png" alt="icono galeria" class="datos__info--img" />
              <p>{{ item.habi }} habitac..</p>
            </div>
            <div class="datos__info">
              <img src="./assets/images/icono-galeria2.png" alt="icono galeria" class="datos__info--img" />
              <p>{{ item.banos }} Baños</p>
            </div>
            <div class="datos__info">
              <img src="./assets/images/icono-galeria3.png" alt="icono galeria" class="datos__info--img" />
              <p>{{ item.metros }} m</p>
            </div>
          </div>
          <div class="pro__info-badges">
            <div class="info-badge">
              <p>{{ item.estado }}</p>
            </div>
            <div class="info-badge">
              <p>{{ item.tipoInmu }}</p>
            </div>
            <div [ngClass]="{ badge__venta: item.tipo === 'venta', badge__arriendo: item.tipo === 'arriendo' }">
              <p>{{ item.tipo }}</p>
            </div>
          </div>
          <div class="pro__info--botones">
            <button class="pro__boton" routerLink="/detalles/{{ item.tipo }}">Ver mas</button>
            <p class="pro__precio">${{ item.precio }}</p>
          </div>
        </div>
      </div>

      <!-- <div class="container__sinRegistro"
              *ngIf="( propiedades[0] | filtro: filtroHab | filtro: filtroPre | filtro:filtroEstado | filtro: filtroTipo ) as result">
              <div *ngFor="let emp of result"></div>
              <div class="sinRegistro__item animate__animated animate__fadeInDown" role="alert"
                *ngIf="result.length === 0">
                <img src="./assets/images/icono6.png" alt="" class="sinRegistro--img">
                <p>No hay datos que coincidan con el filtro </p>
              </div>
            </div> -->
    </div>

    <ng-template #sinRegistros>
      <div class="sinregistro__container animate__animated animate__fadeInUp">
        <div class="img__sinRegistro">
          <img src="./assets/images/sinRegistro.png" alt="imagen Sin registro" class="imagenSinregistro" />
        </div>
        <div class="text__sinRegistro">
          <p>No hay registros</p>
        </div>
      </div>
    </ng-template>
  </div>
</section>

<p-dialog [(visible)]="display" [style]="{ width: '60vw' }">
  <div class="container__img--requisitos">
    <img src="./assets/images/arriendo-capiro.png" alt="" class="img__requisitos" />
  </div>
  <ng-template pTemplate="footer" class="footer__requisitos">
    <button class="boton__requisitos" (click)="downloadImg('./assets/images/arriendo-capiro.png', 'requisitosArriendo')">Descargar</button>
  </ng-template>
</p-dialog>
