<section id="section-register-inmueble">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <div class="registro-inmueble-titulo">
          <p>{{ msgTituloPage }}</p>
        </div>
        <p *ngIf="!cargarImagenes" class="registro-inmueble-descripcion">
          {{
            actualizarInmueble
              ? 'Formulario de actualización de información del inmueble.'
              : 'Formulario de registro de inmuebles, ingrese los siguientes datos.'
          }}
        </p>
      </div>
    </div>

    <div class="row justify-content-center mb-4" *ngIf="!cargarImagenes">
      <div class="col-12 col-md-10">
        <form [formGroup]="formRegistroInmueble" (ngSubmit)="onSubmitFormInmueble()" appValidator autocomplete="off">
          <div class="container-fluid">
            <!-- Características generales del inmueble -->
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tipoInmueble'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'tipoInmueble'"
                    [listaItems]="tiposInmuebles"
                    [placeholder]="'Tipo de inmueble'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'area'">
                  <app-cap-form-input
                    [formData]="formRegistroInmueble"
                    [controlName]="'area'"
                    [placeholder]="'Área (m²)'"
                  >
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>

            <!-- Características adicionales del inmueble -->
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'habitacion'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'habitacion'"
                    [listaItems]="listaHabitaciones"
                    [placeholder]="'Habitaciones'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'banos'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'banos'"
                    [listaItems]="listaBanios"
                    [placeholder]="'Baños'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>

            <!-- Características adicionales del inmueble (cont.) -->
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'garage'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'garage'"
                    [listaItems]="listaEleccionSiNo"
                    [placeholder]="'Garaje'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tipoCocina'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'tipoCocina'"
                    [listaItems]="listaCocinas"
                    [placeholder]="'Tipo de cocina'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'zona'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'zona'"
                    [listaItems]="listaEleccionSiNo"
                    [placeholder]="'Zona de Ropa'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'closeth'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'closeth'"
                    [listaItems]="listaCloseth"
                    [placeholder]="'Closeth'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              </div>

            <!-- Estado y detalles del inmueble -->
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'estadoInmueble'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'estadoInmueble'"
                    [listaItems]="estadoInmueble"
                    [placeholder]="'Estado del inmueble'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'tiempo'">
                  <app-cap-form-input
                    [formData]="formRegistroInmueble"
                    [controlName]="'tiempo'"
                    [placeholder]="'Tiempo de construido (años)'"
                  >
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>

            <!-- Ubicación del inmueble -->
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'departamento'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'departamento'"
                    [listaItems]="listaDepartamentos"
                    [placeholder]="'Departamento'"
                    (change)="onChangeDepartamento($event)"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'municipio'">
                  <app-cap-form-dropdown2
                    [formData]="formRegistroInmueble"
                    [controlName]="'municipio'"
                    [listaItems]="ciudades"
                    [placeholder]="'Municipio'"
                  >
                  </app-cap-form-dropdown2>
                </app-cap-form-fielset>
              </div>
            </div>

            <!-- Otras características del inmueble -->
            <div class="row justify-content-center">
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'sector'">
                  <app-cap-form-input [formData]="formRegistroInmueble" [controlName]="'sector'" [placeholder]="'Sector'">
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
              <div class="col-12 col-md-5 mb-3">
                <app-cap-form-fielset [label]="'estrato'">
                  <app-cap-form-dropdown
                    [formData]="formRegistroInmueble"
                    [controlName]="'estrato'"
                    [listaItems]="listaEstratos"
                    [placeholder]="'Estratos'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>

            <!-- Botones para cancelar y enviar el formulario -->
            <div class="d-flex justify-content-evenly mt-5">
              <div class="form-button">
                <button class="form-btn bg-gray" type="button" (click)="btnCancel()">Cancelar</button>
              </div>
              <div class="form-button">
                <button class="form-btn" type="submit">
                  {{ actualizarInmueble ? 'Actualizar' : 'Registrar' }}
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-4" *ngIf="cargarImagenes">
      <div class="col-12 col-md-10">
        <app-inmueble-subir-archivos
          [idInmueble]="idInmueble"
          [idUsuario]="idUsuario"
          (actionCargarImg)="cargarImagenes = $event"
          (actionMsgTituloPage)="msgTituloPage = $event"
        ></app-inmueble-subir-archivos>
      </div>
    </div>
  </div>
</section>
