<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center">
      <div class="titulo-section">
        <h2>Nuestra ubicación</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 text-center">
      <div class="block-map-container">
        mapa-mantenimiento
        <!-- <iframe
          class="map"
          [src]="rutaUbicacionCapiro | safeUrl"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe> -->
      </div>
    </div>
  </div>
</div>
