.btn-requisitos {
  border: 1px solid var(--color-principal);
  color: var(--color-principal);
  padding: 0.6rem 3rem 0.6rem 3rem;
  border-radius: 0.6rem;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    color: #ffffff;
    background-color: var(--color-principal);
  }
}
