<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 my-3">
      <app-inmuebles-filtros (actionFiltrosInmueble)="showPropiedades($event)"></app-inmuebles-filtros>
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <div class="col-12 text-center text-md-start text-lg-start">
      <button class="btn-requisitos" (click)="verRequisitos()">Ver requisitos</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <ng-container *ngFor="let propiedad of propiedadesVenta">
      <div class="col-12 col-md-6 col-lg-4 my-3">
        <app-inmueble-propiedad-item [inmublePropiedad]="propiedad"></app-inmueble-propiedad-item>
      </div>
    </ng-container>
  </div>
</div>

<app-modal-inmueble [visible]="display" (eventCloseDialogModal)="closeModalUpload($event)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <img src="./assets/images/arriendo-capiro.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row justify-content-end mt-4">
      <div class="col-4 text-end">
        <button class="btn-requisitos" (click)="downloadImg()">Descargar</button>
      </div>
    </div>
  </div>
</app-modal-inmueble>
