<section id="section-nosotros">
  <div class="container mb-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <div class="titulo-section">
          <h2>Habeas Data</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <div class="nosotros-parrafo">
          <p>
            POLITICA DE TRATAMIENTO DE DATOS
            <br>
            Arrendamientos Capiro Ltda., es una empresa domiciliada en el municipio de La Ceja Ant, Identificada con
            NIT. 800.214.778-2; dedicada a comercializar y administrar inmuebles nuevos y usado, sobre la cual podrán
            concurrir las calidades de responsable y encargada del Tratamiento de Datos Personales.
            <br>
            Su sede principal se ubica en la Calle 18 # 20-12 oficina 102. Teléfono 604 5532435,
            <br> Página Web:
            www.arrendamientoscapiro.com y Correo electrónico: notificaciones@arrendamientoscapiro.com
            <br>
            DISPOSICION GENERAL
            <br>
            En el ejercicio de nuestra actividad comercial recibimos o recolectamos datos personales que incluyen el
            nombre, datos de identificación y de contacto, edad, nivel educativo, información familiar, comercial y
            financiera entre otra. Por lo tanto, desarrollamos una política para el tratamiento de datos personales con
            base en la Ley Estatutaria 1581 de 2012 y su Decreto Reglamentario 1377 de 2013; La cual se aplicará a todo
            el manejo de datos personales recolectados por parte de los empleados de Arrendamientos Capiro o terceros
            con quienes suscriba contratos de transferencia de datos personales, con el fin de que tales personas
            conozcan las obligaciones que les aplicarán cuando traten datos personales por cuenta de Arrendamientos
            Capiro.
            <br>
            Arrendamientos Capiro como responsable del tratamiento de los datos, que a través de diferentes medios
            (físico o digital) ha incluido en las bases de datos, gracias a la autorización que los titulares han dado
            para recolectar, almacenar, circular y usar sus datos personales con el fin de hacer seguimiento a los
            procesos de comercialización de inmuebles, divulgar oferta comercial actual o futura y enviar información
            necesaria o útil sobre nuestros productos o los de terceros, a través de, correo electrónico, correo
            directo, mensajes de texto o por medio telefónico.
            <br>
            Les garantiza que los mecanismos a través de los cuales
            hacemos uso de éstos son seguros y confidenciales, pues contamos con los medios tecnológicos idóneos para
            asegurar que sean almacenados, para evitar el acceso indeseado por parte de terceras personas y además
            asegurar la confidencialidad de los mismos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>