@import 'layout.functions';

#section-habeas {
  padding-top: cap-font-size(32px);

  .habeas-parrafo {
    color: var(--color-secundario);

    .negrita {
      font-weight: 600;
    }

    p {
      a {
        text-decoration: none;
        color: var(--color-principal);
      }
    }

    .item-politica {
      li {
        list-style: none;
        padding-top: cap-font-size(4px);
        padding-bottom: cap-font-size(4px);
      }
    }
  }
}
