@import 'layout.functions';

.footer-page {
  background-color: var(--color-tercer);
  padding-top: cap-font-size(32px);
  padding-bottom: cap-font-size(32px);
  color: #fff;

  .footer-image {
    margin: 0 auto cap-font-size(4px);
    padding-top: cap-font-size(32px);
    width: 100%;
    max-width: cap-font-size(130px);
  }

  .footer-info {
    padding-top: cap-font-size(32px);
    margin-bottom: cap-font-size(4px);

    p {
      margin: 0;
    }
  }
  .footer-redes {
    padding-top: cap-font-size(32px);
    margin-bottom: cap-font-size(4px);
    display: flex;
    justify-content: space-evenly;

    .item-redes {
      display: flex;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .float-btn-whatsapp {
    position: fixed;
    bottom: cap-font-size(48px);
    right: cap-font-size(48px);
    z-index: 99;
    background-color: var(--color-wp);
    color: #fff;
    padding: cap-font-size(10px);
    width: cap-font-size(64px);
    height: cap-font-size(64px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    .icono-whatsapp {
      width: cap-font-size(48px);
      height: cap-font-size(48px);
      fill: #ffffff;
    }
  }

  @media screen and (max-width: cap-font-size(576px)) {
    .float-btn-whatsapp {
      bottom: cap-font-size(16px);
      right: cap-font-size(16px);
    }
  }
}
