<div class="blok-upload-files animate__animated animate__fadeInDown">
  <div class="upload-file-text">
    <p>Presione el botón de seleccionar para adjuntar las fotos del inmueble.</p>
    <p>Al terminar presione el botón de subir para terminar el registro</p>
    <p>Debe recordar que solo se pueden subir 4 imágenes por propiedad</p>
  </div>
  <p-fileUpload
    name="myfile[]"
    [multiple]="multiple"
    [customUpload]="true"
    (uploadHandler)="subirImagenes($event)"
    (onClear)="clearImg()"
    (onRemove)="remover($event)"
  ></p-fileUpload>
</div>
