<div class="container-fluid" id="content-header-arrendamiento">
  <div class="row justify-contente-center">
    <div class="col-12 px-0">
      <div class="header-arrendamiento animate__animated animate__fadeInDown">
        <img src="./assets/images/fondoArrendamiento.jpg" alt="Fondo registro inmueble" class="img-arrendamiento" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-contente-center">
    <div class="col-12 mt-4">
      <app-menu-arrendar></app-menu-arrendar>
    </div>
  </div>
</div>
