<section id="section-politicas">
  <div class="container mb-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <div class="titulo-section">
          <h2>Políticas de Privacidad</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-12 col-md-12">
        <div class="politicas-parrafo">
          <h6>AVISO DE PRIVACIDAD</h6>
          <p>
            En cumplimiento de lo establecido en el Artículo 14 de Decreto 1377 de 2013, reglamentario de la Ley 1581 de 2012,
            <span class="negrita">Arrendamientos Capiro Ltda</span> se permite informarle a todos los titulares de datos personales que
            hemos creado una Política de Tratamiento de Datos Personales con la cual, los datos personales que nos han suministrado serán
            tratados de manera confidencial y segura cumpliendo los principios previstos en la normatividad vigente y acorde con la política
            de protección de datos creada, la cual puede ser consultada en la página web
            <a href="http://www.arrendamientoscapiro.com" rel="follow">www.arrendamientoscapiro.com</a> .
          </p>
          <p>
            Si usted tiene alguna pregunta, inquietud u observación sobre los datos suministrados, puede comunicarse al teléfono 604
            5532435, escribir al correo
            <a href="mailto:notificaciones@arrendamientoscapiro.com" target="_blank">notificaciones@arrendamientoscapiro.com</a> o escribir
            a la dirección Calle 18 N° 20- 12 Oficina 102.
          </p>
          <p>Hacemos énfasis en que las respuestas a las preguntas sobre datos personales sensibles son de carácter facultativo.</p>
          <p>
            Los Datos Personales Tratados por <span class="negrita">Arrendamientos Capiro</span> se someterán únicamente a las siguientes
            finalidades.
          </p>
          <p>
            Así mismo, los Encargados o terceros que tengan acceso a los Datos Personales por virtud de Ley o contrato, mantendrán el
            Tratamiento dentro de las siguientes finalidades:
          </p>
          <ul class="item-politica">
            <li>
              1. La finalidad principal del Tratamiento de los Datos Personales es el envío de información sobre los proyectos inmobiliarios
              o inmuebles que comercializa o comercialice Arrendamientos Capiro y la de administrar al cliente.
            </li>
            <li>
              2. Complementar la información y en general, adelantar las actividades necesarias para gestionar las solicitudes, quejas y
              reclamos presentados por los clientes de Arrendamientos Capiro y/o por terceros.
            </li>
            <li>
              3. Realizar actividades de mercadeo y/o comercialización de servicios y/o productos que preste o que pudiera llegar a prestar
              u ofrecer.
            </li>
            <li>
              4. La segmentación de clientes e inversionistas con el fin de hacerlos partícipes de los proyectos, créditos y demás labores
              de comercialización de los productos ofrecidos.
            </li>
            <li>5. Realizar eventos relacionados con los productos y servicios que ofrece Arrendamientos Capiro.</li>
            <li>
              6. La transmisión de datos a terceros con los cuales se hayan celebrado contratos con este objeto, para fines comerciales,
              administrativos y/u operativos y certificaciones a los clientes y/o a terceros, de acuerdo a las disposiciones legales
              vigentes.
            </li>
            <li>7. Procesos al interior de Arrendamientos Capiro, con fines de desarrollo operativo y/o de administración de sistemas.</li>
            <li>
              8. El proceso de archivo, de actualización de los sistemas y de protección y custodia de información y de bases de datos de
              Arrendamientos Capiro.
            </li>
            <li>9. Adelantar campañas de actualización de datos.</li>
            <li>
              10. El envío de las modificaciones a las Políticas, así como la solicitud de nuevas autorizaciones para el Tratamiento de los
              Datos Personales.
            </li>
            <li>
              11. Las demás finalidades que determinen los responsables en procesos de obtención de Datos Personales para su Tratamiento,
              con el fin de dar cumplimiento a las obligaciones legales y regulatorias, así como a las políticas de
              <span class="negrita">Arrendamientos Capiro</span>.
            </li>
          </ul>
          <p>
            Los Titulares de Datos Personales tendrán todos los derechos que consagra la Ley 1581 de 2012 y que están expresamente
            consagrados en nuestra Política de Tratamiento de Datos Personales, la cual se puede consultar en la página web
            arrendamientoscapiro com.
          </p>
          <p>
            El Titular de los Datos Personales podrá hacer valer sus derechos mediante comunicación escrita dirigida a la Calle 18 N° 20-12,
            oficina 102., teléfono 604 5532425. O al correo
            <a href="mailto:notificaciones@arrendamientoscapiro.com" target="_blank">notificaciones@arrendamientoscapiro.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
