<div class="container-fluid" id="section-registro">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-md-5 col-lg-5 d-none d-md-block d-lg-block">
      <img src="./assets/images/fondo-registro.png" alt="fondo-registro" class="registro-img" />
    </div>
    <div class="col-12 col-md-5 col-lg-5">
      <div class="registro-container animate__animated animate__slideInRight">
        <div class="container registro-form">
          <form [formGroup]="formRegistro" (ngSubmit)="registrar()" appValidator autocomplete="off">
            <div class="form-titulo">
              <h2>Formulario de Registro</h2>
            </div>

            <div class="row justify-content-center">
              <div class="col-11 col-md-10 mb-3">
                <app-cap-form-fielset [label]="'nombres'">
                  <app-cap-form-input [formData]="formRegistro" [controlName]="'nombres'" [placeholder]="'Nombres'"> </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11 col-md-10 mb-3">
                <app-cap-form-fielset [label]="'apellidos'">
                  <app-cap-form-input [formData]="formRegistro" [controlName]="'apellidos'" [placeholder]="'Apellidos'">
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11 col-md-10 mb-3">
                <app-cap-form-fielset [label]="'correo'">
                  <app-cap-form-input
                    [formData]="formRegistro"
                    [controlName]="'correo'"
                    [type]="'email'"
                    [placeholder]="'Correo electrónico'"
                  >
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11 col-md-10 mb-3">
                <app-cap-form-fielset [label]="'tipoIdentificacion'">
                  <app-cap-form-dropdown
                    [formData]="formRegistro"
                    [controlName]="'tipoIdentificacion'"
                    [listaItems]="tiposIdentificacion"
                    [placeholder]="'Tipo de identificación'"
                  >
                  </app-cap-form-dropdown>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11 col-md-10 mb-3">
                <app-cap-form-fielset [label]="'identificacion'">
                  <app-cap-form-input [formData]="formRegistro" [controlName]="'identificacion'" [placeholder]="'Identificación'">
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-11 col-md-10 mb-3">
                <app-cap-form-fielset [label]="'password'">
                  <app-cap-form-input
                    [formData]="formRegistro"
                    [controlName]="'password'"
                    [type]="'password'"
                    [placeholder]="'Contraseña'"
                    [showPass]="true"
                  >
                  </app-cap-form-input>
                </app-cap-form-fielset>
              </div>
            </div>

            <div class="d-flex justify-content-evenly mt-5">
              <div class="form-button">
                <button class="form-btn bg-gray" type="reset">Cancelar</button>
              </div>
              <div class="form-button">
                <button class="form-btn" type="submit">
                  Registrar
                  <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
