<div class="destacado__titulo">
    <p>Inmuebles destacados</p>
</div>

<section class="destacado">
    <div class="destados__items">
        <div class="destado__item">
            <img src="./assets/images/galeria5.jpg" alt="destacado img" class="imagen__destacado">
            <div class="destacado__info">
                <button class="btn__vermas" routerLink="/detalles/venta">Ver mas</button>
            </div>
            <div class="badge__info">
                venta
            </div>
        </div>

        <div class="destado__item">
            <img src="./assets/images/galeria2.jpg" alt="destacado img" class="imagen__destacado">
            <div class="destacado__info">
                <button class="btn__vermas" routerLink="/detalles/venta">Ver mas</button>
            </div>
            <div class="badge__info">
                venta
            </div>
        </div> 

        <div class="destado__item">
            <img src="./assets/images/galeria4.jpg" alt="destacado img" class="imagen__destacado">
            <div class="destacado__info">
                <button class="btn__vermas" routerLink="/detalles/venta">Ver mas</button>
            </div>
            <div class="badge__info">
                venta
            </div>
        </div> 

        
    </div>
</section>
