<p-dialog
  id="modal-dialog-general"
  class="layout-modal-general"
  [breakpoints]="{ '960px': '60vw', '640px': '95vw' }"
  [style]="{ width: '70vw' }"
  position="middle"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="visible"
  (onHide)="_eventCloseDialogModal()"
>
  <ng-template pTemplate="header">
    <p class="requisitos-header">Requisitos</p>
  </ng-template>
  <p>Los documentos que necesitas para realizar el avaluó de su propiedad son:</p>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono9.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Certificado de libertad</h3>
          </div>
          <div class="requisitos-description">
            <p>Fotocopia de la cédula de ciudadanía del propietario del inmueble.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono8.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Escritura pública</h3>
          </div>
          <div class="requisitos-description">
            <p>Certificado de tradición y Libertad Actualizado del inmueble.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono9.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Ficha predial</h3>
          </div>
          <div class="requisitos-description">
            <p>Fotocopia del documento de impuesto predial del inmueble.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono10.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Certificado catastral</h3>
          </div>
          <div class="requisitos-description">
            <p>Una fotocopia de la escritura que demuestre que el inmueble esta a su nombre.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
