<div class="container">
  <div class="row jutify-content-center">
    <div class="col-12">
      <div class="show-images-inmueble">
        <div class="image-inmueble">
          <p-galleria [value]="images" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="item" let-itemImg>
              <img [src]="itemImg.url" [alt]="itemImg.nombreArchivo" class="img-fluid" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
  </div>
</div>
