<section id="section-avaluo">
  <div class="container-fluid">
    <div class="row justify-contente-center">
      <div class="col-12 px-0">
        <div class="header-avaluo animate__animated animate__fadeInDown">
          <img src="./assets/images/fondoNosotros.jpg" alt="Fondo registro inmueble" class="img-avaluo" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-12 requisitos-header-content">
        <h3>Avalúos</h3>
        <h5>¿Cómo funciona el avalúo?</h5>
        <p>
          Un evaluador visitará el inmueble para indicar su valor mediante un avaluó certificado, se estudiará las características físicas,
          topográficas y ubicación.<br />tiene una caducidad de 12 meses, pues los precios de las propiedades varían a través del tiempo.
        </p>
        <button class="requisitos-button" (click)="showDialog()">Ver requisitos</button>
      </div>
    </div>
    <div class="row justify-contente-center my-4">
      <div class="col-12">
        <app-form-avaluo
          [formAvaluos]="formAvaluos"
          [tiposInmuebles]="tiposInmuebles"
          [listaEstratos]="listaEstratos"
          [listaNiveles]="listaNiveles"
          [listaHabitaciones]="listaHabitaciones"
          [listaBanios]="listaBanios"
          (actionSaveForm)="onSubmitAvaluo()"
        ></app-form-avaluo>
      </div>
    </div>
  </div>
</section>

<app-modal-avaluo [visible]="mostrarModal" (eventCloseDialogModal)="hideDialog($event)"></app-modal-avaluo>
