<app-header-arrendar></app-header-arrendar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mt-4">
      <app-form-bienes-arrendar [formBienes]="formBienes" (actionGuardarForm)="guardarFormularioBienes()"></app-form-bienes-arrendar>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 mb-5">
    <div class="form-button">
      <button class="login-btn" type="button" (click)="prevPage()">Atrás</button>
    </div>
    <div class="form-button">
      <button class="login-btn" type="button" (click)="enviarFormulario()">Enviar</button>
    </div>
  </div>
</div>
