.propiedades {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1.5rem 0 3rem 0;
}

.propiedades__container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.propiedades__filtro {
  width: 100%;
  border-radius: 1rem;
  outline: 1.6px solid var(--color-secundario);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: .5rem 1rem;
}

.pro__filtro--titulo {
  color: var(--color-principal);
  font-size: 1.2rem;
  font-weight: 700;
}

.pro__filtro--items {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.filtro-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filtro--label {
  color: var(--color-tercer);
  font-size: .9rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.filtro--input {
  width: 13rem;
  border: solid 1px var(--color-secundario);
  height: 2rem;
  border-radius: .6rem;
  padding: 0 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.filtro--input:focus-visible {
  outline: solid 1.3px var(--color-tercer);
}

option {
  font-size: 1rem;
  margin: 1rem;
}

.filtro-limpiar{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.limpiar__boton {
  background-color: var(--color-secundario);
  border: 0;
  color: #ffffff;
  padding: .3rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: .8rem;
}

.limpiar__boton:hover {
  background-color: var(--color-tercer);
}


/* ************************************************* */
.propiedades__items {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(1, 60vh);
  grid-row-gap: 2rem;
  grid-auto-rows: 60vh;
  padding: 2rem 0;
  width: 100%;
}

.pro__item {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px #88888846;
  margin: 2rem;
}

.pro__item--img {
  height: 55%;
}

.item__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pro__item--info {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: .5rem 1rem;
  /* box-shadow: 5px 5px 15px #88888846; */
}

.pro__info-badges {
  display: flex;
  margin: 1rem 0;
}

.info-badge {
  background: var(--color-secundario);
  margin-left: .6rem;
  padding: .2rem .6rem;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 400;
  font-size: .8rem;
}

.pro__info--titulo {
  font-size: .9rem;
  font-weight: 700;
  color: var(--color-principal);
}

.pro__info--datos {
  display: flex;
  justify-content: space-around;
}

.datos__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
}

.datos__info--img {
  width: 1.8rem;
}

.pro__info--botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pro__boton {
  background-color: var(--color-principal);
  border: 0;
  color: #ffffff;
  padding: .3rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
  font-size: .8rem;
}

.pro__boton:hover {
  background-color: var(--color-hover);
}

.pro__precio {
  font-weight: 700;
}

/* ********************************* */
/* Sin registros */

.sinregistro__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.imagenSinregistro {
  width: 15rem;
}

.text__sinRegistro {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-secundario)
}

/* ***************************** */
.container__sinRegistro{
  grid-column: 2/3;
  margin: 2rem 0;
}
.sinRegistro__item{
  color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sinRegistro--img{
  width: 8rem;
  margin-bottom: 1rem;
}



@media (max-width: 900px) {

  .propiedades__items {
    display: grid;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(1, 60vh);
    grid-row-gap: 2rem;
    grid-auto-rows: 60vh;
    padding: 2rem 0;
    width: 100%;
  }

  .pro__item {
    width: 100%;
    margin: 1rem 0;
  }

  .pro__filtro--items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .filtro--input {
    width: 100%;
  }

  .filtro-limpiar{
    margin: 1rem 0 0 0;
  }

}
