<form [formGroup]="formBienes" (ngSubmit)="onSubmitReferencias()" appValidator autocomplete="off">
  <div class="container-fluid my-5">
    <h3 class="titulo-referencias">Bienes inmuebles de su propiedad</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'tipoInmuebleDireccionUno'">
          <app-cap-form-input
            [formData]="formBienes"
            [controlName]="'tipoInmuebleDireccionUno'"
            [placeholder]="'Tipo de inmueble y dirección'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'matriculaNumeroUno'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'matriculaNumeroUno'" [placeholder]="'N° de matrícula inmobiliaria'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipioInmuebleUno'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'municipioInmuebleUno'" [placeholder]="'Municipio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'tipoInmuebleDireccionDos'">
          <app-cap-form-input
            [formData]="formBienes"
            [controlName]="'tipoInmuebleDireccionDos'"
            [placeholder]="'Tipo de inmueble y dirección'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'matriculaNumeroDos'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'matriculaNumeroDos'" [placeholder]="'N° de matrícula inmobiliaria'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipioInmuebleDos'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'municipioInmuebleDos'" [placeholder]="'Municipio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <h3 class="titulo-referencias">Vehículos de su propiedad</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'vehiculoMarcaUno'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'vehiculoMarcaUno'" [placeholder]="'Marca'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'vehiculoModeloUno'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'vehiculoModeloUno'" [placeholder]="'Modelo'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'vehiculoPlacaUno'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'vehiculoPlacaUno'" [placeholder]="'Placa'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'vehiculoMarcaDos'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'vehiculoMarcaDos'" [placeholder]="'Marca'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'vehiculoModeloDos'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'vehiculoModeloDos'" [placeholder]="'Modelo'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'vehiculoPlacaDos'">
          <app-cap-form-input [formData]="formBienes" [controlName]="'vehiculoPlacaDos'" [placeholder]="'Placa'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <h3 class="titulo-referencias">Observaciones o información adicional que nos permita conocerlo mejor</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <app-cap-form-fielset [label]="'observaciones'">
          <div class="form-floating">
            <textarea
              class="form-control"
              [ngClass]="{ 'is-invalid': formCtrlB['observaciones'].touched && formCtrlB['observaciones'].errors }"
              formControlName="observaciones"
              id="observaciones"
              placeholder="Observaciones"
            ></textarea>
            <label for="observaciones">Observaciones</label>
          </div>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="d-flex justify-content-evenly mt-5">
      <div class="form-button">
        <button class="form-btn bg-gray" type="button" (click)="btnAtras()">Atrás</button>
      </div>
      <div class="form-button">
        <button class="form-btn" type="submit">
          Enviar
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</form>
