<section id="section-nosotros">
  <div class="container mb-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <div class="titulo-section">
          <h2>Nuestra Historia</h2>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <div class="nosotros-parrafo">
          <p>
            El equipo humano de ARRENDAMIENTOS CAPIRO, viene trabajando en el mundo inmobiliario desde 1990. Es una empresa familiar que se
            funda con este nombre comercial gracias a un cerro representativo de la zona, conocido como cerro El Capiro; desde entonces, ha
            sido una empresa pionera en el mercado inmobiliario del municipio de la ceja. Siempre se ha trabajado con la idea de ser una
            empresa que brinde a cada cliente un trato esmerado como si fuera el único. Nuestra intención es la de seguir creciendo,
            fortaleciendo la organización y asegurando nuestra constante adaptación a los mercados y por tanto a las demandas de los
            clientes en materia inmobiliaria. Teniendo como objetivo la comercialización de bienes y servicios.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid my-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center">
        <div class="titulo-section">
          <h2>Nuestros Asesores</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <div class="container-fluid">
          <div class="row justify-content-center nosotros-asesores">
            <div class="col-12 col-md-4 col-lg-2 my-3">
              <div class="asesor-item">
                <div class="asesor-nombre">
                  <span>Laura León</span>
                </div>
                <div class="asesor-info">
                  <p><span class="funcion">Cargo: </span>Asesora inmobiliaria</p>
                  <p>
                    <span class="funcion">Contacto:<br></span>(+57) 301 2451522 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 my-3">
              <div class="asesor-item">
                <div class="asesor-nombre">
                  <span>Socorro Bedoya</span>
                </div>
                <div class="asesor-info">
                  <p><span class="funcion">Cargo: </span>Avaluadora</p>
                  <p>
                    <span class="funcion">Contacto:<br></span>(+57) 314 8934176
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 my-3">
              <div class="asesor-item">
                <div class="asesor-nombre">
                  <span>Fredy León</span>
                </div>
                <div class="asesor-info">
                  <p><span class="funcion">Cargo: </span>Asesor ventas-hipotecario</p>
                  <p>
                    <span class="funcion">Contacto:<br></span>(+57) 312 7316446
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 my-3">
              <div class="asesor-item">
                <div class="asesor-nombre">
                  <span>Adriana Rios</span>
                </div>
                <div class="asesor-info">
                  <p><span class="funcion">Cargo: </span>Asesora inmobiliaria</p>
                  <p>
                    <span class="funcion">Contacto:<br></span>(+57) 3246370724
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 my-3">
              <div class="asesor-item">
                <div class="asesor-nombre">
                  <span>Yuliana León</span>
                </div>
                <div class="asesor-info">
                  <p><span class="funcion">Cargo: </span>Consultora Ambiental</p>
                  <p>
                    <span class="funcion">Contacto:<br></span>(+57) 3148662595
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
