<section class="nosotros">
  <div class="nosotros__container--historia">
    <div class="nosotros__textos--historia">
      <div class="nosotros__titulo--historia">
        <p>Nuestra Historia</p>
      </div>
      <div class="nosotros__parrafo--historia">
        <p>
          El equipo humano de ARRENDAMIENTOS CAPIRO, viene trabajando en el mundo inmobiliario desde 1990. Es una empresa familiar que se
          funda con este nombre comercial gracias a un cerro representativo de la zona, conocido como cerro El Capiro; desde entonces, ha
          sido una empresa pionera en el mercado inmobiliario del municipio de la ceja. Siempre se ha trabajado con la idea de ser una
          empresa que brinde a cada cliente un trato esmerado como si fuera el único. Nuestra intención es la de seguir creciendo,
          fortaleciendo la organización y asegurando nuestra constante adaptación a los mercados y por tanto a las demandas de los clientes
          en materia inmobiliaria. Teniendo como objetivo la comercialización de bienes y servicios.
        </p>
      </div>
    </div>
  </div>

  <div class="nosotros__container">
    <!--  <div class="nosotros__img animate__animated animate__fadeIn">
            <img src="./assets/images/capiro-img.jpg" alt="nosotros" class="nosotros__imagen">
        </div>
        <div class="nosotros__textos animate__animated animate__slideInRight">
            <div class="nosotros__titulo">
                <p>Misión</p>
            </div>
            <div class="nosotros__parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam voluptatibus dignissimos sequi voluptas cupiditate labore laborum eos corrupti exercitationem laboriosam, non dolorem magnam aperiam ducimus! Tenetur recusandae voluptatibus, quo dolor aut at architecto possimus, iure fugiat</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus praesentium dolorum doloribus eos illo est aut, impedit aperiam repellendus accusamus atque iste aliquid neque quia reprehenderit aspernatur, voluptas quae corrupti!</p>
            </div>
        </div>
    </div>

    <div class="nosotros__container movile">
        <div class="nosotros__textos animate__animated animate__slideInRight">
            <div class="nosotros__titulo">
                <p>Visión</p>
            </div>
            <div class="nosotros__parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam voluptatibus dignissimos sequi voluptas cupiditate labore laborum eos corrupti exercitationem laboriosam, non dolorem magnam aperiam ducimus! Tenetur recusandae voluptatibus, quo dolor aut at architecto possimus, iure fugiat aliquid atque, sed soluta. Enim, magnam eos deleniti quam quaerat delectus quas nemo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus praesentium dolorum doloribus eos illo est aut, impedit aperiam repellendus accusamus atque iste aliquid neque quia reprehenderit aspernatur, voluptas quae corrupti!</p>
            </div>
        </div>
        <div class="nosotros__img animate__animated animate__fadeIn">
            <img src="./assets/images/capiro-img-2.jpg" alt="nosotros" class="nosotros__imagen">
          </div> -->
  </div>

  <div class="nosotros__container--historia asesor__movile">
    <div class="nosotros__textos--historia">
      <div class="nosotros__titulo--historia">
        <p>Nuestros asesores</p>
      </div>
      <div class="asesores__container">
        <div class="asesor__item">
          <div class="asesor__nombre">
            <P>Laura León</P>
          </div>
          <div class="asesor__info">
            <p><span>Cargo: </span>Asesora inmobiliaria</p>
            <p><span>Contacto:</span>+57 301 2451522 , +57 604 5532435</p>
          </div>
        </div>

        <div class="asesor__item">
          <div class="asesor__nombre">
            <P>Socorro Bedoya</P>
          </div>
          <div class="asesor__info">
            <p><span>Cargo: </span>Avaluadora</p>
            <p><span>Contacto:</span>+57 314 8934176, +57 604 5532435</p>
          </div>
        </div>

        <div class="asesor__item">
          <div class="asesor__nombre">
            <P>Fredy León</P>
          </div>
          <div class="asesor__info">
            <p><span>Cargo: </span>Asesor ventas-hipotecario</p>
            <p><span>Contacto:</span>+57 312 7316446, +57 604 5532435</p>
          </div>
        </div>
        <div class="asesor__item">
          <div class="asesor__nombre">
            <P>Adriana Rios</P>
          </div>
          <div class="asesor__info">
            <p><span>Cargo: </span>Asesora inmobiliaria</p>
            <p><span>Contacto:</span>+57 3246370724, +57 604 5532435</p>
          </div>
        </div>
        <div class="asesor__item">
          <div class="asesor__nombre">
            <P>Yuliana León</P>
          </div>
          <div class="asesor__info">
            <p><span>Cargo: </span>Gestora Ambiental</p>
            <p><span>Contacto:</span>+57 3148662595, +57 604 5532435</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
