<form [formGroup]="formInfoOcupacion" (ngSubmit)="onSubmitInfoOcupacion()" appValidator autocomplete="off">
  <div class="container-fluid my-5">
    <div class="row justify-content-start">
      <div class="col-12 col-md-4 mb-4">
        <app-cap-form-fielset [label]="'selectOcupacion'">
          <app-cap-form-dropdown
            [formData]="formInfoOcupacion"
            [controlName]="'selectOcupacion'"
            [listaItems]="listaOcupacion"
            [placeholder]="'Ocupación'"
            (actionChangeSelect)="clicOcupacion($event)"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[0]">
        <app-cap-form-fielset [label]="'empresa'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'empresa'" [placeholder]="'Empresa donde trabaja'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[1]">
        <app-cap-form-fielset [label]="'nitEmpresa'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'nitEmpresa'" [placeholder]="'NIT de la empresa'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[2]">
        <app-cap-form-fielset [label]="'direccionOcupacion'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'direccionOcupacion'" [placeholder]="'Dirección'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[3]">
        <app-cap-form-fielset [label]="'ciudadOcupacion'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'ciudadOcupacion'" [placeholder]="'Ciudad'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[4]">
        <app-cap-form-fielset [label]="'fechaIngreso'">
          <app-cap-form-input
            [formData]="formInfoOcupacion"
            [controlName]="'fechaIngreso'"
            [type]="'date'"
            [placeholder]="'Fecha de ingreso'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[5]">
        <app-cap-form-fielset [label]="'cargoOcupacion'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'cargoOcupacion'" [placeholder]="'Cargo u Oficio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[6]">
        <app-cap-form-fielset [label]="'tipoContrato'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'tipoContrato'" [placeholder]="'Tipo de contrato'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[7]">
        <app-cap-form-fielset [label]="'telefonoEmpresa'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'telefonoEmpresa'" [placeholder]="'Contacto de la empresa'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[8]">
        <app-cap-form-fielset [label]="'salario'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'salario'" [placeholder]="'Salario'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[9]">
        <app-cap-form-fielset [label]="'otroIngreso'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'otroIngreso'" [placeholder]="'Otros ingresos'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[10]">
        <app-cap-form-fielset [label]="'origenOtrosIngresos'">
          <app-cap-form-input
            [formData]="formInfoOcupacion"
            [controlName]="'origenOtrosIngresos'"
            [placeholder]="'Origen de otros ingresos'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[11]">
        <app-cap-form-fielset [label]="'egresosMensuales'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'egresosMensuales'" [placeholder]="'Egresos mensuales'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[12]">
        <app-cap-form-fielset [label]="'actividadProfesional'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'actividadProfesional'" [placeholder]="'Actividad profesional'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[13]">
        <app-cap-form-fielset [label]="'contacto'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'contacto'" [placeholder]="'Contacto'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[14]">
        <app-cap-form-fielset [label]="'otroIngresoOrigen'">
          <app-cap-form-input
            [formData]="formInfoOcupacion"
            [controlName]="'otroIngresoOrigen'"
            [placeholder]="'Otros ingresos/Origen ingresos'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[15]">
        <app-cap-form-fielset [label]="'empresaPensionado'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'empresaPensionado'" [placeholder]="'Nombre de la empresa'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[16]">
        <app-cap-form-fielset [label]="'ingresoMensualPension'">
          <app-cap-form-input
            [formData]="formInfoOcupacion"
            [controlName]="'ingresoMensualPension'"
            [placeholder]="'Ingreso mensual de pensión'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>

      <div class="col-12 col-md-4 mb-3" *ngIf="showCtrlForm[17]">
        <app-cap-form-fielset [label]="'deduccionMensual'">
          <app-cap-form-input [formData]="formInfoOcupacion" [controlName]="'deduccionMensual'" [placeholder]="'Deducción mensual'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="d-flex justify-content-evenly mt-5">
      <div class="form-button">
        <button class="form-btn bg-gray" type="button" (click)="btnAtras()">Atrás</button>
      </div>
      <div class="form-button">
        <button class="form-btn" type="submit">Siguiente</button>
      </div>
    </div>
  </div>
</form>
