/* You can add global styles to this file, and also import other style files */
:root {
  --color-principal: #008a3d;
  --color-secundario: #8a8b8e;
  --color-tercer: #434041;
  --color-hover: #19ab5b;
  --color-wp: #25d366;
  --gray-color-1: #808080;
  --gray-color-2: #e7e8e9;
  --gray-color-3: #e3e3e3;
  --gray-color-4: #c9c6c6;
  --gray-color-5: #f7f7f7;
  --gray-color-6: #ced4da;
  --black-color-0: #000000;
  --black-color-1: #101010;
  --black-color-2: #585858;
  --black-color-3: rgba(0, 0, 0, 0.3);
  --black-color-4: rgba(255, 255, 255, 0.5);
  --black-color-5: rgba(255, 255, 255, 0.6);
  --black-color-6: rgba(255, 255, 255, 0.7);
  --black-color-7: rgba(255, 255, 255, 0.8);
  --white-color-1: #ffffff;
  --white-color-2: #e7e7e7;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-secundario);
}

::-webkit-scrollbar-thumb {
  background: var(--color-principal);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-principal);
}

.form-control {
  &:focus-visible {
    outline: solid 1.3px var(--color-hover);
  }
  &:focus {
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 65, 0.25);
  }
}

.form-button {
  display: flex;
  justify-content: center;

  .login-btn {
    background-color: var(--color-principal);
    border: 0;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all;

    &:hover {
      background-color: var(--color-hover);
    }
  }

  .form-btn {
    background-color: var(--color-principal);
    border: 0;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all;

    &.bg-gray {
      background-color: var(--color-secundario);

      &:hover {
        background-color: var(--color-tercer);
      }
    }

    &:hover {
      background-color: var(--color-hover);
    }
  }
}

.titulo-section {
  font-size: cap-font-size(32px);
  font-weight: 900;
  margin-bottom: cap-font-size(32px);

  h2 {
    color: var(--color-principal);
  }
}

.active {
  color: var(--color-principal);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  padding: 0 2.5rem;
}

.badge__arriendo {
  background: #749e41;
  margin-left: 0.6rem;
  padding: 0.2rem 0.6rem;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8rem;
}

.badge__venta {
  background: #a9c91e;
  margin-left: 0.6rem;
  padding: 0.2rem 0.6rem;
  border-radius: 2rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8rem;
}

/* **************************** */

.swal2-styled.swal2-confirm {
  background-color: var(--color-principal) !important;
}

.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 30em !important;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 0.8rem !important;
}

/* *********************************** */
.p-galleria .p-galleria-thumbnail-container {
  background: rgba(0, 0, 0, 0) !important;
  padding: 1rem 0.25rem;
  height: 10px !important;
  position: absolute;
  width: 100%;
  top: 50%;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
  margin: 0.5rem;
  background-color: #ffffff !important;
  color: var(--color-principal) !important;
  width: 5rem;
  height: 5rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
}

/* ********************************************* */

.p-button {
  color: #ffffff;
  background: var(--color-principal) !important;
  border: 1px solid var(--color-principal) !important;
  padding: 0.5rem 1.25rem !important;
  font-size: 0.8rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-progressbar .p-progressbar-value {
  border: 0 none;
  margin: 0;
  background: var(--color-hover) !important;
}

/* ************************************************** */
/* footer modal */
.p-dialog .p-dialog-footer {
  padding: 1rem !important;
}

/* **************botones subir imagen******************** */
@media (max-width: 900px) {
  .p-fileupload .p-fileupload-buttonbar .p-button {
    margin-right: 0.5rem;
    padding: 0.5rem 0.7rem !important;
    width: 6rem !important;
    font-size: 0.6rem !important;
  }
}
