

.footer {
    background-color: var(--color-tercer);
    height: 20vh;
    width: 100%;
    margin-top: auto;
}

.container__footer {
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__text {
    font-size: .8rem;
    font-weight: 700;
    width: 20%;
    padding: 0 0 0 3rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 60%;
    font-size: .8rem;
}

.footer__info--correo {
    margin-top: 1rem;
}

.footer__redes {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.item__redes {
    cursor: pointer;
    color: #ffffff !important;
}


@media (max-width: 900px) {

    .footer {
        height: 30vh;
        padding: 1rem 0;
    }   
    
    .container__footer {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer__text {
        width: 100%;
        padding-left: 7rem;
    }
    
    .footer__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 1rem 0;
    }
    
    
    .footer__redes {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .item__redes {
        cursor: pointer;
    }

    /* .container__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer__text {
        font-size: .8rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
    } */

    
}