<section class="container-fluid section-post-button">
  <div class="row">
    <div class="col-12">
      <div class="information animate__animated animate__backInDown">
        <span>
          <i class="fa-solid fa-phone"></i>
          6045532435 - 3148934176 - 3246370724
        </span>
        <span>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:arrendamientoscapiro@hotmail.com">arrendamientoscapiro@hotmail.com</a>
        </span>
      </div>
    </div>
  </div>
</section>
