.ventas {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.ventas__container {
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-construcion {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* ***************************************** */
.principal__logos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.principal__logo{
    max-width: 12rem;
    filter: drop-shadow(0 2px 5px #ffffff74);
}

.icono__construccion {
    width: 10rem;
}

.textos__info {
    text-align: center;
    margin: 2rem 0;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}