<form [formGroup]="formInfoGeneral" (ngSubmit)="onSubmitInfoGeneral()" appValidator autocomplete="off">
  <div class="container-fluid my-5">
    <div class="row justify-content-start">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'direccionPredio'">
          <app-cap-form-input
            [formData]="formInfoGeneral"
            [controlName]="'direccionPredio'"
            [placeholder]="'Dirección del inmueble a tomar en arriendo'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'destinacionPredio'">
          <app-cap-form-input
            [formData]="formInfoGeneral"
            [controlName]="'destinacionPredio'"
            [placeholder]="'Destinación que dará al inmueble'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'arrendamientoMen'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'arrendamientoMen'" [placeholder]="'Arrendamiento mensual'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'tipoInmueble'">
          <app-cap-form-dropdown
            [formData]="formInfoGeneral"
            [controlName]="'tipoInmueble'"
            [listaItems]="tiposInmuebles"
            [placeholder]="'Tipo de inmueble'"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nombres'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'nombres'" [placeholder]="'Nombres'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'apellidos'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'apellidos'" [placeholder]="'Apellidos'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'fechaNacimiento'">
          <app-cap-form-input
            [formData]="formInfoGeneral"
            [controlName]="'fechaNacimiento'"
            [type]="'date'"
            [placeholder]="'Fecha de nacimiento'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'tipoDoc'">
          <app-cap-form-dropdown
            [formData]="formInfoGeneral"
            [controlName]="'tipoDoc'"
            [listaItems]="tiposDocumentos"
            [placeholder]="'Tipos de identificación'"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'numeroDoc'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'numeroDoc'" [placeholder]="'Número de documento'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'fechaExpedicion'">
          <app-cap-form-input
            [formData]="formInfoGeneral"
            [controlName]="'fechaExpedicion'"
            [type]="'date'"
            [placeholder]="'Fecha de expedición'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'lugarExpedicion'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'lugarExpedicion'" [placeholder]="'Lugar de Expedición'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'lugarNacimiento'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'lugarNacimiento'" [placeholder]="'Lugar de nacimiento'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'sexo'">
          <app-cap-form-dropdown [formData]="formInfoGeneral" [controlName]="'sexo'" [listaItems]="listaSexos" [placeholder]="'Sexo'">
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nacionalidad'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'nacionalidad'" [placeholder]="'Nacionalidad'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'direccionActual'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'direccionActual'" [placeholder]="'Dirección domicilio actual'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'ciudad'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'ciudad'" [placeholder]="'Ciudad'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nivelEstudio'">
          <app-cap-form-dropdown
            [formData]="formInfoGeneral"
            [controlName]="'nivelEstudio'"
            [listaItems]="listaNivelEstudio"
            [placeholder]="'Nivel de estudio'"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'correo'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'correo'" [type]="'email'" [placeholder]="'Correo electrónico'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'celular'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'celular'" [placeholder]="'Celular'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'ocupacion'">
          <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'ocupacion'" [placeholder]="'Profesión / Ocupación actual'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'personasAcargo'">
          <app-cap-form-input
            [formData]="formInfoGeneral"
            [controlName]="'personasAcargo'"
            [placeholder]="'N° de personas a cargo (incluyéndose)'"
          >
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'estadoCivil'">
          <app-cap-form-dropdown
            [formData]="formInfoGeneral"
            [controlName]="'estadoCivil'"
            [listaItems]="listadoEstadosCivil"
            [placeholder]="'Estado civil'"
            (actionChangeSelect)="clicEstadoCivil($event)"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
    </div>

    <ng-container *ngIf="estadoCivilBlock">
      <div class="row">
        <div class="col-12">
          <h4>Datos del Cónyuge</h4>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'nombresConyuge'">
            <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'nombresConyuge'" [placeholder]="'Nombres'">
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'apellidosConyuge'">
            <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'apellidosConyuge'" [placeholder]="'Apellidos'">
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'tipoDocConyuge'">
            <app-cap-form-dropdown
              [formData]="formInfoGeneral"
              [controlName]="'tipoDocConyuge'"
              [listaItems]="listadoEstadosCivil"
              [placeholder]="'Tipo de identificación'"
            >
            </app-cap-form-dropdown>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-start">
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'numeroDocConyuge'">
            <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'numeroDocConyuge'" [placeholder]="'Número de documento'">
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'correoConyuge'">
            <app-cap-form-input
              [formData]="formInfoGeneral"
              [controlName]="'correoConyuge'"
              [type]="'email'"
              [placeholder]="'Correo electrónico'"
            >
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'celularConyuge'">
            <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'celularConyuge'" [placeholder]="'Celular'">
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-start">
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'ocupacionConyuge'">
            <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'ocupacionConyuge'" [placeholder]="'Ocupación actual'">
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <app-cap-form-fielset [label]="'ingresosConyuge'">
            <app-cap-form-input [formData]="formInfoGeneral" [controlName]="'ingresosConyuge'" [placeholder]="'Ingresos'">
            </app-cap-form-input>
          </app-cap-form-fielset>
        </div>
      </div>
    </ng-container>

    <div class="d-flex justify-content-evenly mt-5">
      <div class="form-button">
        <button class="form-btn" type="submit">Siguiente</button>
      </div>
    </div>
  </div>
</form>
