<section
  class="section-login"
  [ngStyle]="{ background: 'linear-gradient(to right, #55627057, #ff6b6b65),url(./assets/images/fondo-login.jpg)' }"
>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-5 col-lg-4">
        <div class="login-container animate__animated animate__fadeInDown">
          <div class="container login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()" appValidator autocomplete="off">
              <div class="form-titulo">
                <h2>Bienvenido</h2>
              </div>

              <div class="row justify-content-center">
                <div class="col-11 col-md-10 mb-3">
                  <app-cap-form-fielset [label]="'correo'">
                    <app-cap-form-input
                      [formData]="loginForm"
                      [controlName]="'correo'"
                      [type]="'email'"
                      [placeholder]="'Correo electrónico'"
                    >
                    </app-cap-form-input>
                  </app-cap-form-fielset>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-11 col-md-10 mb-3">
                  <app-cap-form-fielset [label]="'contrasena'">
                    <app-cap-form-input
                      [formData]="loginForm"
                      [controlName]="'contrasena'"
                      [type]="'password'"
                      [showPass]="true"
                      [placeholder]="'Contraseña'"
                    >
                    </app-cap-form-input>
                  </app-cap-form-fielset>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-5">
                <div class="form-button">
                  <button class="login-btn" type="submit">
                    Ingresar
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
