<section
  class="section-login"
  [ngStyle]="{ background: 'linear-gradient(to right, #55627057, #ff6b6b65),url(./assets/images/fondo-login.jpg)' }"
>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-5 col-lg-4">
        <div class="login-container animate__animated animate__fadeInDown">
          <div class="container login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
              <div class="form-titulo">
                <h2>Bienvenido</h2>
              </div>

              <div class="row justify-content-center">
                <div class="col-11 col-md-10">
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      [ngClass]="{ 'is-invalid': formCtrlC['correo'].touched && formCtrlC['correo'].errors }"
                      formControlName="correo"
                      id="correo"
                      type="email"
                      placeholder="Correo electrónico"
                      required=""
                    />
                    <label for="correo">Correo electrónico</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control"
                      [ngClass]="{ 'is-invalid': formCtrlC['contrasena'].touched && formCtrlC['contrasena'].errors }"
                      formControlName="contrasena"
                      id="contrasena"
                      [type]="tipoInput"
                      placeholder="Contraseña"
                      required=""
                    />
                    <label for="contrasena">Contraseña</label>
                    <div class="icon-eye-custom" (click)="mostrarPass()" *ngIf="eye === true">
                      <i class="fa-solid fa-eye-slash"></i>
                    </div>
                    <div class="icon-eye-custom" (click)="ocultarPass()" *ngIf="eye === false">
                      <i class="fa-solid fa-eye"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-5">
                <div class="form-button">
                  <button class="login-btn" type="submit">
                    Ingresar
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
