<p-dialog
  id="modal-dialog-general"
  class="layout-modal-general"
  [breakpoints]="{ '960px': '60vw', '640px': '95vw' }"
  [style]="{ width: '70vw' }"
  position="middle"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="visible"
  (onHide)="_eventCloseDialogModal()"
>
  <ng-template pTemplate="header">
    <p class="requisitos-header">Requisitos</p>
  </ng-template>
  <p>Los documentos que necesitas para realizar la hipoteca de su propiedad son:</p>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono7.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Arrendatario o Solicitante</h3>
          </div>
          <div class="requisitos-description">
            <p>- Carta laboral vigente.<br>- Desprendibles de nómina.<br>- Extractos bancarios.<br>- Fotocopia de la cédula de ciudadanía.<br>-Diligenciar formulario.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono8.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Deudor solidario con ingresos</h3>
          </div>
          <div class="requisitos-description">
            <p>- Carta laboral vigente.<br>- Desprendibles de nómina.<br>- Extractos bancarios.<br>- Fotocopia de la cédula de ciudadanía.<br>-Diligenciar formulario.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono9.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Deudor solidario con propiedad raíz</h3>
          </div>
          <div class="requisitos-description">
            <p>- Certificado de libertad y tradición.<br>- Extractos bancarios.<br>- Fotocopia de la cédula de ciudadanía.<br>-Diligenciar formulario.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-3">
        <div class="requisitos-item">
          <div class="requisitos-icono">
            <img src="./assets/images/icono10.png" alt="icono requisitos" class="img-fluid" />
          </div>
          <div class="requisitos-subtitulo">
            <h3>Tener en cuenta</h3>
          </div>
          <div class="requisitos-description">
            <p>El estudio de la solicitud tiene un costo de $80,000.<br> La inmobiliaria cobra una comisión del 20% sobre el canon de arrendamiento, una única vez.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
