<ng-container *ngIf="!cargarDocumentos">
  <form [formGroup]="formAvaluos" (ngSubmit)="solicitarAvaluo()" appValidator autocomplete="off" class="form-avaluos">
    <div class="container-fluid my-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'tipoInmueble'">
            <div class="form-floating">
              <select
                class="form-select"
                id="tipoInmueble"
                formControlName="tipoInmueble"
                aria-label="Tipo de inmueble"
                [ngClass]="{ 'is-invalid': formCtrlAv['tipoInmueble'].touched && formCtrlAv['tipoInmueble'].errors }"
              >
                <option *ngFor="let tipo of tiposInmuebles" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="tipoInmueble">Tipo de inmueble</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'estrato'">
            <div class="form-floating">
              <select
                class="form-select"
                id="estrato"
                formControlName="estrato"
                aria-label="Estratos"
                [ngClass]="{ 'is-invalid': formCtrlAv['estrato'].touched && formCtrlAv['estrato'].errors }"
              >
                <option *ngFor="let tipo of listaEstratos" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="estrato">Estratos</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'niveles'">
            <div class="form-floating">
              <select
                class="form-select"
                id="niveles"
                formControlName="niveles"
                aria-label="Niveles"
                [ngClass]="{ 'is-invalid': formCtrlAv['niveles'].touched && formCtrlAv['niveles'].errors }"
              >
                <option *ngFor="let tipo of listaNiveles" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="niveles">Niveles</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'habitaciones'">
            <div class="form-floating">
              <select
                class="form-select"
                id="habitaciones"
                formControlName="habitaciones"
                aria-label="Habitaciones"
                [ngClass]="{ 'is-invalid': formCtrlAv['habitaciones'].touched && formCtrlAv['habitaciones'].errors }"
              >
                <option *ngFor="let tipo of listaHabitaciones" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="habitaciones">Habitaciones</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'garaje'">
            <div class="form-floating">
              <select
                class="form-select"
                id="garaje"
                formControlName="garaje"
                aria-label="Garaje"
                [ngClass]="{ 'is-invalid': formCtrlAv['garaje'].touched && formCtrlAv['garaje'].errors }"
              >
                <option *ngFor="let tipo of listaEleccionSiNo" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="garaje">Garaje</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'banos'">
            <div class="form-floating">
              <select
                class="form-select"
                id="banos"
                formControlName="banos"
                aria-label="Baños"
                [ngClass]="{ 'is-invalid': formCtrlAv['banos'].touched && formCtrlAv['banos'].errors }"
              >
                <option *ngFor="let tipo of listaBanios" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="banos">Baños</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'tiempoConstruido'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['tiempoConstruido'].touched && formCtrlAv['tiempoConstruido'].errors }"
                formControlName="tiempoConstruido"
                id="tiempoConstruido"
                type="text"
                placeholder="Tiempo de construido (meses)"
                required=""
              />
              <label for="tiempoConstruido">Tiempo de construido (meses)</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'tipoConstruccion'">
            <div class="form-floating">
              <select
                class="form-select"
                id="tipoConstruccion"
                formControlName="tipoConstruccion"
                aria-label="Tipo de contrucción"
                [ngClass]="{ 'is-invalid': formCtrlAv['tipoConstruccion'].touched && formCtrlAv['tipoConstruccion'].errors }"
              >
                <option *ngFor="let tipo of tipoConstruccion" [ngValue]="tipo.value">{{ tipo.label }}</option>
              </select>
              <label for="tipoConstruccion">Tipo de contrucción</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'ubicacion'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['ubicacion'].touched && formCtrlAv['ubicacion'].errors }"
                formControlName="ubicacion"
                id="ubicacion"
                type="text"
                placeholder="Ubicación"
                required=""
              />
              <label for="ubicacion">Ubicación</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'direccion'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['direccion'].touched && formCtrlAv['direccion'].errors }"
                formControlName="direccion"
                id="direccion"
                type="text"
                placeholder="Dirección"
                required=""
              />
              <label for="direccion">Dirección</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-10">
          <h3 class="hipotecas-titulo">Datos Personales</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'nombre'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['nombre'].touched && formCtrlAv['nombre'].errors }"
                formControlName="nombre"
                id="nombre"
                type="text"
                placeholder="Nombres"
                required=""
              />
              <label for="nombre">Nombres</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'apellido'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['apellido'].touched && formCtrlAv['apellido'].errors }"
                formControlName="apellido"
                id="apellido"
                type="text"
                placeholder="Apellidos"
                required=""
              />
              <label for="apellido">Apellidos</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'celular'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['celular'].touched && formCtrlAv['celular'].errors }"
                formControlName="celular"
                id="celular"
                type="text"
                placeholder="Teléfono"
                required=""
              />
              <label for="celular">Teléfono</label>
            </div>
          </app-cap-form-fielset>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <app-cap-form-fielset [label]="'correo'">
            <div class="form-floating">
              <input
                class="form-control"
                [ngClass]="{ 'is-invalid': formCtrlAv['correo'].touched && formCtrlAv['correo'].errors }"
                formControlName="correo"
                id="correo"
                type="email"
                placeholder="Correo electrónico"
                required=""
              />
              <label for="correo">Correo electrónico</label>
            </div>
          </app-cap-form-fielset>
        </div>
      </div>

      <div class="d-flex justify-content-evenly mt-5">
        <div class="form-button">
          <button class="form-btn bg-gray" type="button" (click)="btnCancel()">Cancelar</button>
        </div>
        <div class="form-button">
          <button class="form-btn" type="submit">
            Solicitar
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="loadingButton">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<div class="container-fluid my-5" *ngIf="cargarDocumentos">
  <div class="row justify-content-center">
    <div class="col-10">
      <h3 class="hipotecas-titulo">Documentos</h3>
    </div>
  </div>

  <div class="row justify-content-center upload-block">
    <div class="col-12 col-md-5 mb-3 pb-3">
      <app-documentos-avaluo-hipoteca
        [titleCampo]="'Certificado de libertad'"
        [idUsuario]="idUsuario"
        [idFormulario]="idFormulario"
      ></app-documentos-avaluo-hipoteca>
    </div>
    <div class="col-12 col-md-5 mb-3">
      <app-documentos-avaluo-hipoteca
        [titleCampo]="'Escritura pública'"
        [idUsuario]="idUsuario"
        [idFormulario]="idFormulario"
      ></app-documentos-avaluo-hipoteca>
    </div>
  </div>

  <div class="row justify-content-center upload-block">
    <div class="col-12 col-md-5 mb-3 pb-3">
      <app-documentos-avaluo-hipoteca
        [titleCampo]="'Predial'"
        [idUsuario]="idUsuario"
        [idFormulario]="idFormulario"
      ></app-documentos-avaluo-hipoteca>
    </div>
    <div class="col-12 col-md-5 mb-3">
      <app-documentos-avaluo-hipoteca
        [titleCampo]="'Certificado catastral'"
        [idUsuario]="idUsuario"
        [idFormulario]="idFormulario"
      ></app-documentos-avaluo-hipoteca>
    </div>
  </div>
</div>
