.form-avaluos {
  .hipotecas-titulo {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    color: var(--color-principal);
    margin: 2rem 0;
  }
}

.upload-block > div {
  background-color: var(--white-color-2);
}
