<form [formGroup]="formReferencias" (ngSubmit)="onSubmitReferencias()" appValidator autocomplete="off">
  <div class="container-fluid my-5">
    <h3 class="titulo-referencias">Referencias Comerciales</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nombreRazon'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'nombreRazon'" [placeholder]="'Nombre o Razón social'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'celularRefencia'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'celularRefencia'" [placeholder]="'Celular'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipio'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'municipio'" [placeholder]="'Municipio'"> </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <h3 class="titulo-referencias">Referencias Personales</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nombresPersonalesUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'nombresPersonalesUno'" [placeholder]="'Nombres'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'celularPersonalesUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'celularPersonalesUno'" [placeholder]="'Celular'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipioPersonalesUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'municipioPersonalesUno'" [placeholder]="'Municipio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nombresPersonalesDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'nombresPersonalesDos'" [placeholder]="'Nombres'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'celularPersonalesDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'celularPersonalesDos'" [placeholder]="'Celular'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipioPersonalesDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'municipioPersonalesDos'" [placeholder]="'Municipio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <h3 class="titulo-referencias">Referencias Familiares</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nombresFamiliaresUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'nombresFamiliaresUno'" [placeholder]="'Nombres'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'celularFamiliaresUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'celularFamiliaresUno'" [placeholder]="'Celular'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipioFamiliaresUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'municipioFamiliaresUno'" [placeholder]="'Municipio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'nombresFamiliaresDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'nombresFamiliaresDos'" [placeholder]="'Nombres'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'celularFamiliaresDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'celularFamiliaresDos'" [placeholder]="'Celular'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'municipioFamiliaresDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'municipioFamiliaresDos'" [placeholder]="'Municipio'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <h3 class="titulo-referencias">Referencias Bancarias</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'tipoCuentaUno'">
          <app-cap-form-dropdown
            [formData]="formReferencias"
            [controlName]="'tipoCuentaUno'"
            [listaItems]="tiposCuentasBancos"
            [placeholder]="'Tipo de cuenta'"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'entidadFinancieraUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'entidadFinancieraUno'" [placeholder]="'Entidad financiera'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'numCuentaUno'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'numCuentaUno'" [placeholder]="'Número de cuenta'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'tipoCuentaDos'">
          <app-cap-form-dropdown
            [formData]="formReferencias"
            [controlName]="'tipoCuentaDos'"
            [listaItems]="tiposCuentasBancos"
            [placeholder]="'Tipo de cuenta'"
          >
          </app-cap-form-dropdown>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'entidadFinancieraDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'entidadFinancieraDos'" [placeholder]="'Entidad financiera'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <app-cap-form-fielset [label]="'numCuentaDos'">
          <app-cap-form-input [formData]="formReferencias" [controlName]="'numCuentaDos'" [placeholder]="'Número de cuenta'">
          </app-cap-form-input>
        </app-cap-form-fielset>
      </div>
    </div>

    <div class="d-flex justify-content-evenly mt-5">
      <div class="form-button">
        <button class="form-btn bg-gray" type="button" (click)="btnAtras()">Atrás</button>
      </div>
      <div class="form-button">
        <button class="form-btn" type="submit">Siguiente</button>
      </div>
    </div>
  </div>
</form>
