<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono1.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Venta</div>
        <div class="descripcion">
          Asesoramiento y trámite de la documentación relacionado con la venta de su inmueble. Tenemos experiencia en la venta urbana y
          rural de inmuebles en la zona. Tenemos un amplio portafolio de propiedades para la venta.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono5.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Hipoteca</div>
        <div class="descripcion">
          Gestionamos rápido y comercialmente hipotecas sobre su propiedad, con garantía y responsabilidad en caso de requerir
          económicamente un préstamo.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono3.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Arrendamientos</div>
        <div class="descripcion">
          Arrendamiento de casas, apartamentos, fincas, bodegas, y locales, brindando agilidad en el trámite de arrendamiento del inmueble
          para nuestros clientes.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono11.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Trámites ambientales</div>
        <div class="descripcion">Aquí encontrarás tu hogar para arrendar, selecciona la mejor opción.</div>
      </div>
    </div>
  </div>
</div>
