<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 text-center">
      <div class="titulo-section">
        <h2>Nuestros Servicios</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono1.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Venta</div>
        <p class="descripcion">
          Necesitas vender o comprar un inmueble, te asesoramos y acompañamos en todos los trámites.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono3.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Arrendamientos</div>
        <p class="descripcion">
          Encuentra el espacio que buscas:
          <br>Casas, apartamentos, fincas, bodegas, y locales.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono5.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Hipoteca</div>
        <p class="descripcion">
          Gestionamos prestamos de dinero en hipoteca sobre la propiedad con garantía y responsabilidad.
        </p>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 my-3">
      <div class="servicio-item">
        <div class="icono-custom">
          <img src="./assets/images/icono11.png" alt="" class="img-fluid" />
        </div>
        <div class="titulo">Trámites ambientales</div>
        <p class="descripcion">Consultoría y tramites ambientales con la Autoridad ambiental.</p>
      </div>
    </div>
  </div>
</section>