<section class="nosotros">

    <div class="nosotros__container--historia">
        <div class="nosotros__textos--historia">
            <div class="nosotros__titulo--historia">
                <p>Nuestra Historia</p>
            </div>
            <div class="nosotros__parrafo--historia">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam voluptatibus dignissimos sequi voluptas cupiditate labore laborum eos corrupti exercitationem laboriosam, non dolorem magnam aperiam ducimus! Tenetur recusandae voluptatibus, quo dolor aut at architecto possimus, iure fugiat</p>
            </div>
        </div>
    </div>

    <div class="nosotros__container">
        <div class="nosotros__img animate__animated animate__fadeIn">
            <img src="./assets/images/capiro-img.jpg" alt="nosotros" class="nosotros__imagen">
        </div>
        <div class="nosotros__textos animate__animated animate__slideInRight">
            <div class="nosotros__titulo">
                <p>Misión</p>
            </div>
            <div class="nosotros__parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam voluptatibus dignissimos sequi voluptas cupiditate labore laborum eos corrupti exercitationem laboriosam, non dolorem magnam aperiam ducimus! Tenetur recusandae voluptatibus, quo dolor aut at architecto possimus, iure fugiat</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus praesentium dolorum doloribus eos illo est aut, impedit aperiam repellendus accusamus atque iste aliquid neque quia reprehenderit aspernatur, voluptas quae corrupti!</p>
            </div>
        </div>
    </div>

    <div class="nosotros__container movile">
        <div class="nosotros__textos animate__animated animate__slideInRight">
            <div class="nosotros__titulo">
                <p>Visión</p>
            </div>
            <div class="nosotros__parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam voluptatibus dignissimos sequi voluptas cupiditate labore laborum eos corrupti exercitationem laboriosam, non dolorem magnam aperiam ducimus! Tenetur recusandae voluptatibus, quo dolor aut at architecto possimus, iure fugiat aliquid atque, sed soluta. Enim, magnam eos deleniti quam quaerat delectus quas nemo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus praesentium dolorum doloribus eos illo est aut, impedit aperiam repellendus accusamus atque iste aliquid neque quia reprehenderit aspernatur, voluptas quae corrupti!</p>
            </div>
        </div>
        <div class="nosotros__img animate__animated animate__fadeIn">
            <img src="./assets/images/capiro-img-2.jpg" alt="nosotros" class="nosotros__imagen">
        </div>
    </div>

    <div class="nosotros__container--historia asesor__movile">
      <div class="nosotros__textos--historia">
        <div class="nosotros__titulo--historia">
          <p>Nuestros asesores</p>
        </div>
        <div class="asesores__container">

          <div class="asesor__item">
            <div class="asesor__nombre">
              <P>Laura León</P>
            </div>
            <div class="asesor__info">
              <p> <span>Cargo: </span>Asesora inmobiliaria</p>
              <p> <span>Contacto:</span>+57 301 2451522 , +57 604 5532435</p>
            </div>
          </div>

          <div class="asesor__item">
            <div class="asesor__nombre">
              <P>Socorro Bedoya</P>
            </div>
            <div class="asesor__info">
              <p> <span>Cargo: </span>Asesora inmobiliaria</p>
              <p> <span>Contacto:</span>+57 314 8934176, +57 604 5532435</p>
            </div>
          </div>

          <div class="asesor__item">
            <div class="asesor__nombre">
              <P>Fredy León</P>
            </div>
            <div class="asesor__info">
              <p> <span>Cargo: </span>Asesor ventas</p>
              <p> <span>Contacto:</span>+57 312 7316446, +57 604 5532435</p>
            </div>
          </div>

        </div>
      </div>
    </div>

</section>
