<section class="ventas">
  <div
    class="ventas__container"
    [ngStyle]="{ background: 'linear-gradient(to right, #55627057, #ff6b6b65),url(./assets/images/capirofondo.png)' }"
  >
    <div class="principal__logos">
      <img src="./assets/images/icono.png" alt="" class="principal__logo animate__animated animate__fadeInLeft" />
      <img src="./assets/images/logoText.png" alt="" class="principal__logo animate__animated animate__fadeInRight" />
    </div>
    <img src="./assets/images/icono4.png" alt="" class="icono__construccion" />
    <p class="textos__info">Página en construcción </p>
  </div>
</section>
