<section id="section-arrendamiento">
  <div class="container-fluid">
    <div class="row justify-contente-center">
      <div class="col-12 px-0">
        <div class="header-arrendamiento animate__animated animate__fadeInDown">
          <img src="./assets/images/fondoArrendamiento.jpg" alt="Fondo registro inmueble" class="img-arrendamiento" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-contente-center">
      <div class="col-12 mt-4">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
      </div>
    </div>

    <div class="row justify-contente-center">
      <div class="col-12 mt-4">
        <app-arrendar-form
          [seccionInformacionGeneral]="seccionInformacionGeneral"
          [seccionOcupacion]="seccionOcupacion"
          [seccionReferencias]="seccionReferencias"
          [seccionBienes]="seccionBienes"
          [tiposInmuebles]="tiposInmuebles"
          [tiposDocumentos]="tiposDocumentos"
          [listaSexos]="listaSexos"
          [listaNivelEstudio]="listaNivelEstudio"
          [listadoEstadosCivil]="listadoEstadosCivil"
          [listaOcupacion]="listaOcupacion"
          [tiposCuentasBancos]="tiposCuentasBancos"
          [formArrendamientos]="formArrendamientos"
          (actionGuardarForm)="guardarFormularioArrendamiento()"
        ></app-arrendar-form>
      </div>
    </div>
  </div>
</section>
