<app-header-arrendar></app-header-arrendar>

<div class="container">
  <div class="row justify-contente-center">
    <div class="col-12 mt-4">
      <app-form-referencias-arrendar
        [formReferencias]="formReferencias"
        [tiposCuentasBancos]="tiposCuentasBancos"
        (actionGuardarForm)="guardarFormularioArrendamiento()"
      ></app-form-referencias-arrendar>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 mb-5">
    <div class="form-button">
      <button class="login-btn" type="button" (click)="prevPage()">Atrás</button>
    </div>
    <div class="form-button">
      <button class="login-btn" type="button" (click)="nextPage()">Siguiente</button>
    </div>
  </div>
</div>
