<app-header-arrendar></app-header-arrendar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mt-4">
      <app-form-general-arrendar
        [tiposInmuebles]="tiposInmuebles"
        [tiposDocumentos]="tiposDocumentos"
        [listaSexos]="listaSexos"
        [listaNivelEstudio]="listaNivelEstudio"
        [listadoEstadosCivil]="listadoEstadosCivil"
        [listaOcupacion]="listaOcupacion"
        [tiposCuentasBancos]="tiposCuentasBancos"
        [formInfoGeneral]="formInfoGeneral"
        [estadoCivilBlock]="estadoCivilBlock"
        (actionGuardarForm)="nextPage()"
      ></app-form-general-arrendar>
    </div>
  </div>
</div>
